body {
  background-color: #FE7519;
  margin: 0;
}

h1, h2, h3, h4, p, td, th {
  color:            #211e1e;
  font-size:        9pt;
  font-family:      Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

h1, h2, h3, h4, th {
  font-weight: bold;
}

h1 { font-size: 12pt; }
h2 { font-size: 10pt; }
h3 { font-size: 9pt; }
h4 { font-size: 7pt; }

table {
  border: 0;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

table.error, table.container, table.tabletag, table.layout {
  border-spacing: 0;
  padding: 0;
}

table.container, table.tabletag {
  border: 1px solid #aeaeae;
  margin: 0 0 10px 0;
}

table.error, table.container table.container, table.container table.tabletag {
  width: 100%;
  margin: 0;
}

table.tabletag {
  border-collapse: collapse;
  width: 100%;
}

table.layout {
  width: 100%;
  margin: 0;
}

table.error {
  border: 3px solid #ef1607;
  margin: 0 0 10px 0;
}

td.justified table.container {
  width: 100%;
}

table.layout tr td, table.container tr td, table.container tr th {
  vertical-align: top;
  text-align: left;
  border: 0;
  margin: 0;
  padding: 2px;
}

/*
table.container tr td {
  border-top: 1px solid #aeaeae;
}
*/

table.tabletag tr th {
  background-color: #e5e5e5;
  padding: 4px;
  border: 1pt solid #dddddd;
}

table.tabletag tr th.sorted {
  background-color: #d0d0d0;
}

table.tabletag tr td {
  vertical-align: top;
  text-align: left;
  margin: 0;
  padding: 4px;
  border: 1pt solid #d0d0d0;
}

table.tabletag tr td.sorted {
  background-color: #e5e5e5;  
}

td.button {
  font-weight: bold;
  text-align: right;
}

td.pagenumbers, td.login {
  font-size: 7pt;
  font-weight: bold;
}

a:link, a:visited {
  color: #fe6d17;
  text-decoration: none;
}

a:hover {
  color: #fe6d17;
  text-decoration: underline;
}

hr {
  width: 80%;
  color: #aeaeae;
  background-color: #aeaeae;
  height: 1px;
}

ul {
  list-style: square outside url(images/square-bullet.png);
  margin: 0 0 0 20px;
}

ul.menu {
  margin: 0 0 6px 30px;
}

ul li {
  margin: 0;
  padding: 0;
}

/*
.active {
  font-weight: bold;
}
*/

.address {
  color:       #211e1e;
  font-size:    8pt;
  font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  padding-left: 2pt;
}

.squaretext {
  color:       #211e1e;
  font-size:    9pt;
  line-height:  15px;
  font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  padding-left: 2pt;
}

.squaretextlink {
  color:       #f5f5f5;
  font-size:    9pt;
  line-height:  15px;
  font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  padding-left: 2pt;
}

.squaretexthl {
  color:       #211e1e;
  font-weight:  bold;
  font-size:    9pt;
  line-height:  15px;
  font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  padding-left: 2pt;
}

.addressmail {
  color:          #f5f5f5;
  font-size:       8pt;
  line-height:     15px;
  font-family:     Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  text-decoration: none;
  padding-left:    2pt;
}

.bodytext {
  color:      #211e1e;
  font-style:  normal;
  font-weight: normal;
  font-size:   9pt;
  font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
  list-style-type: disc;
}

.bodytext-bold {
  color:      #211e1e;
  font-weight: bold;
  font-size:   9pt;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

/*
.h1 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   12pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.h2 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   10pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.h3 {
	color:      #211e1e;
	font-weight: bold;
	font-size:   9pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
*/

.bodytext-italic {
  color:      #211e1e;
  font-style:  italic;
  font-size:   9pt;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

.lastupd {
  color:       #211e1e;
  font-style:   italic;
  font-size:    7pt;
  font-family:  Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  padding-left: 2pt;
  top:          20pt;
}

.path {
  color:          #211e1e;
  font-size:       7pt;
  line-height:     25pt;
  text-decoration: none;
}

p.path a:link, p.path a:visited, p.path a:hover {
  color: #000000;
}

.pathcurrentpage {
  color:      #211e1e;
  font-weight: bold
}

.lastupdmailto {
  color:          #f5f5f5;
  font-style:      italic;
  font-size:       7pt;
  font-family:     Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  text-decoration: none;
}

.ul {
  color: #211e1e;
  font-style: normal;
  font-weight: normal;
  font-size: 9pt;
  font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular";
  list-style-type: disc;
}

/*
ul {
  color: #211e1e; 
  font-style: normal; 
  font-weight: normal; 
  font-size: 9pt; 
  font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; 
  list-style-type: disc
}

ol {
  color: #211e1e; 
  font-style: normal; 
  font-weight: normal; 
  font-size: 9pt; 
  font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; 
  list-style-type: disc
}
*/

pp {
  color: #211e1e; 
  font-style: normal; 
  font-weight: normal; 
  font-size: 9pt; 
  font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular"; 
  list-style-type: disc
}